.cyan50{
    color:#E0F7FA;
}
.cyan100{
    color:#B2EBF2;
}

.cyan200{
    color:#80DEEA;
}

.cyan300{
    color:#4DD0E1;
}

.cyan400{
    color:#26C6DA;
}

.cyan500{
    color:#00BCD4;
}

.cyan600{
    color:#00ACC1;
}

.cyan700{
    color:#0097A7;
}
.cyan800{
    color:#00838F;
}
.cyan900{
    color:#006064;
}
.cyanA100{
    color:#84FFFF;
}
.cyanA200{
    color:#18FFFF;
}
.cyanA400{
    color:#00E5FF;
}
.cyanA700{
    color:#00B8D4;
}





